#!/usr/bin/env bash
# -------------------------------------------------------------------------------------------
#	masscan --banners
#	apt-get install ufw
#	sudo cat /proc/sys/net/ipv4/ip_local_port_range
#	32768	60999
#	block single port below or above Linux reserved port range
#	sudo ufw reset
#	sudo ufw deny 61000
#	sudo ufw reload
#	sudo ufw enable
#	sudo ufw status verbose
#
#	recon.target	--	priest:	Hope that firewall works because your screwed
#
#	Tested: Debian 13 (trixie)
#
#	Far from complete, though gets enough done quickly
# -------------------------------------------------------------------------------------------
#	Description: Automated enumeration required for quick db_import into metasploit
#
#	Domain or CDIR: recon.target [192.168.0.0/24]	
#
#	Author: neural.priest
# -------------------------------------------------------------------------------------------

set -e

# --- Configuration ---

# Colors for output
readonly RED='\033[0;31m'
readonly GREEN='\033[0;32m'
readonly YELLOW='\033[1;33m'
readonly NC='\033[0m' # No Color

# --- Paths ---

readonly BLACKBOX="$HOME/BLACKBOX"
readonly BLACKSITES="$HOME/BLACKSITES"
readonly DEBIAN_FRONTEND=noninteractive

# --- PORT Configuration ---

export PORTSMINI="80,443,8000,8080,8443"
export PORTSFULL="`cat /usr/share/nmap/nmap-services | grep -i tcp | sort -k 3 -n -r | awk '{print $2}' | cut -d "/" -f1 | head -2008 | tr '\n' "," | sed 's/,$//'`"

# --- Helper Functions ---

log_info() {
    printf "${GREEN}[+] $1 ${NC}\n"
}

log_warn() {
    printf "${YELLOW}[-] $1 ${NC}\n"
}

log_err() {
    printf "${RED}[!] $1 ${NC}\n" >&2
}

# --- Directory Framework Structure ---

setup_directory_structure() {

    log_info "Setup directory structure"

    cd $BLACKSITES

    if [ -z "${HOST}" ]; then
        log_warn "Usage: recon.host <target.com>"
        log_warn "Usage: recon.target"
        exit 1
    elif [ ! -d "$HOST" ]; then
    
        mkdir -p "$BLACKSITES/$HOST/data/nmap"
        mkdir -p "$BLACKSITES/$HOST/data/nmap-xml"
        mkdir -p "$BLACKSITES/$HOST/data/nmap-html"
        mkdir -p "$BLACKSITES/$HOST/data/massdns"
        mkdir -p "$BLACKSITES/$HOST/data/masscan"
        mkdir -p "$BLACKSITES/$HOST/data/nmap-split"
        mkdir -p "$BLACKSITES/$HOST/data/subdomains"
        mkdir -p "$BLACKSITES/$HOST/data/subdomains-split"
        mkdir -p "$BLACKSITES/$HOST/data/urls"
        mkdir -p "$BLACKSITES/$HOST/data/nuclei"
        
        mkdir -p "$BLACKSITES/$HOST/reports/info-disclosure"
        mkdir -p "$BLACKSITES/$HOST/reports/discovery"
        mkdir -p "$BLACKSITES/$HOST/reports/discovery/html"
        mkdir -p "$BLACKSITES/$HOST/reports/discovery/secrets"
        mkdir -p "$BLACKSITES/$HOST/reports/discovery/bucket"
        mkdir -p "$BLACKSITES/$HOST/reports/all_attacks"
        mkdir -p "$BLACKSITES/$HOST/reports/all_attacks/html"

        mkdir -p "$BLACKSITES/$HOST/screenshots"

        cd "$BLACKSITES/$HOST"
        clear
    else
        log_err "$HOST Exists: Exiting!"
        exit 1
    fi
}


# --- Bulk collection of $HOST HOSTNAMES list ---

assemble_subdomains() {

    log_info "Assembling list of $HOST subdomains via crt.sh"

    : > data/subdomains/HOSTS.db

    curl -s "https://crt.sh/?q=.$HOST&output=json" | jq -r '.[].name_value' | sed 's/*.//g' | grep -w $HOST\$ | sort | anew data/subdomains/HOSTS.db
    subfinder -d $HOST -t 35 -all -silent | sort | anew data/subdomains/HOSTS.db  #	API KEYS REQUIRED	$HOME/.config/subfinder/provider-config.yaml

    wc -l data/subdomains/HOSTS.db
}


# --- Preempt probe selection in case of tool firewall ---

http_alive_selection() {

    log_info "HTTP Alive Probe: Selection to continue"
    PS3="Please select an option : "
    choices=("HTTPROBE" "HTTPX" "Exit")
    select choice in "${choices[@]}"; 
        do
            case $choice in
                HTTPROBE)
                     httprobe_alive
                     sleep 1
                     break
                     ;;
                HTTPX)
                     httpx_alive
                     sleep 1
                     break
                     ;;
                Exit)
                     echo "Please reassess situation and rerun script"
                     echo "Aborting script..."
                     exit 1
                     ;;
            esac
        done
}


# --- Detect live hosts via HTTPROBE for active 80,443,8000,8080,8443 services ---

httprobe_alive() {	# HTTPROBE

    log_info "Probing for Live Hosts/services via httprobe: 80,443,8000,8080,8443"

    cat data/subdomains/HOSTS.db | httprobe -c 150 -p http:80 https:443 http:8000 http:8080 https:8443 | anew data/subdomains/HOSTS.alive.full.db | unfurl -u domains | anew data/subdomains/HOSTS.alive.db

    cat data/subdomains/HOSTS.alive.db | xargs -I {} bash -c 'echo -e "\e[1;34m[URL]\e[0m {}" && curl --connect-timeout 5 -s -I {} | grep -i "server:"' | anew reports/info-disclosure/httprobe-server-tech.db

    wc -l data/subdomains/HOSTS.alive.db

    split -l 1000 --numeric-suffixes=1 --additional-suffix=-HOSTS.db data/subdomains/HOSTS.alive.db

    mv $BLACKSITES/$HOST/*-HOSTS.db data/subdomains-split/

    echo 'HTTPROBE probed, standard http/s server probe' > data/subdomains/method.txt
}


# --- Detect live hosts via HTTPX for active 80,443,8000,8080,8443 services ---

httpx_alive() {		# HTTPX "Select method" 1), 2)

    log_info "Probing for Live Hosts/services via httpx: 80,443,8000,8080,8443"

    httpx -l data/subdomains/HOSTS.db -server -title -tech-detect -status-code -cname -silent -threads 150 -ports $PORTSMINI -j -o data/subdomains/HTTPX-probe.json
    jq -r '. | .url' data/subdomains/HTTPX-probe.json | anew data/subdomains/HOSTS.alive.full.db | unfurl -u domains | anew data/subdomains/HOSTS.alive.db

    jq -r '. | .url, .tech, .wordpress' data/subdomains/HTTPX-probe.json | anew reports/info-disclosure/httpx-server-tech.db

    wc -l data/subdomains/HOSTS.alive.db

    split -l 1000 --numeric-suffixes=1 --additional-suffix=-HOSTS.db data/subdomains/HOSTS.alive.db

    mv $BLACKSITES/$HOST/*-HOSTS.db data/subdomains-split/

    echo 'HTTPX probed, JSON, standard http/s server probe' > data/subdomains/method.txt
}


# --- Skip nmap and eyewitness scan, or exit ---

skip_selection() {

    log_info "Skip Scans?: Selection to continue"
    PS3="Please select an option : "
    choices=("NO" "Exit")
    select choice in "${choices[@]}"; 
        do
            case $choice in
                NO)
                     nmap_scan
                     eyewitness_screenshot
                     sleep 1
                     break
                     ;;
                Exit)
                     permissions_set
                     recon_drop
                     echo "Please reassess situation and rerun script"
                     echo "Aborting script..."
                     exit 1
                     ;;
            esac
        done
    log_info "Scans, Continued"
}


# --- Versioning, vuln, vulners, http-vulners-regex, scipag_vulscan, vulscandb=exploitdb.csv, banner, http-headers

nmap_scan() {

    log_info "Probing Hosts IP's & Ports via nmap: Versioning, vuln, vulners, vulscan, http-vulners-regex, banner, http-headers"

    cat data/subdomains/HOSTS.alive.full.db | awk -F '://' '{print $2}' | awk -F ':' '{print "nmap "$1" -p " $2 " -oX data/nmap-xml/"$1"-"$2".xml -Pn -R --open -sSV -O -vvv --host-timeout 55 --script=vulners --script=http-vulners-regex --script=banner --script=http-headers"}' | sort -u | sort -R > data/nmap/NMAP-SCAN.db

    IFS=$'\n'

    split -l 30 --additional-suffix=-ScanTarget data/nmap/NMAP-SCAN.db

    mv *-ScanTarget data/nmap-split/

    for file in $(ls data/nmap-split/*-ScanTarget); do sleep 80 && for target in $(cat $file); do sh -c "sudo $target" & done ; done  

    sleep 80

    log_info "Structuring && Format conversion: *.xml && *.html"

    for file in $(ls data/nmap-xml/*.xml); do 
        xsltproc $file -o data/nmap-html/$(basename "$file").html; 
    done
}


# --- Run EyeWitness on HOSTS-alive-ip.db --web ---

eyewitness_screenshot() {

    log_info "EyeWitness screenshot captures: HOSTS.alive.db --web"

    source /opt/EyeWitness/eyewitness-venv/bin/activate

    python3 /opt/EyeWitness/Python/EyeWitness.py --prepend-https -f data/subdomains/HOSTS.alive.db -d screenshots --no-prompt --timeout 120 --user-agent "Mozilla/5.0 (X11; Linux x86_64; rv:128.0) Gecko/20100101 Firefox/128.0"

    deactivate
}


# --- Set user permissions .. id || id -u ---

permissions_set() {

    log_info "Setting \$USER permissions on $BLACKSITES/$HOST directory structures" 

    find "$PWD"/. -type d -print0 | xargs -0 sudo chown -R $USER:$USER
}


# --- Copy asset recon to .msf4_blacksites ---

recon_drop() {

    log_info "Copy $HOST/* files to $HOME/.msf4_blacksites"

    rm -rf $HOME/.msf4_blacksites/*

    cp $HOME/genesis/scripts/db_nmap_vuln_2000.rc $HOME/.msf4_blacksites/

    cp -r $HOME/BLACKSITES/$HOST/* $HOME/.msf4_blacksites/
}


# --- Main function: flowstream ---

main() {
    setup_directory_structure
    assemble_subdomains
    http_alive_selection 	# 1), 2), 3,exit)
#   httprobe_alive		# Only one (1) can be used at a time
#   httpx_alive			# Only one (1) can be used at a time: Select 1 of 2 options
    skip_selection              # 1), 2),exit)
#   nmap_scan
#   eyewitness_screenshot
#   permissions_set
#   recon_drop
    log_info "msfupdate"
    log_info "msfdb init"
    log_info "msfconsole" 
    log_info "workspace -a $HOST"
    log_info "setg rhosts file://data/subdomains/HOSTS.alive.db"
    log_info "db_import data/subdomains/HOSTS.alive.db"
    log_info "msfconsole -r $HOME/.msf4_blacksites/db_nmap_vuln_2000.rc"
    log_info "Finished,...!"
}

# --- Main Execute

main